.navbar{
    width: 100%;
    height: 100px;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid gainsboro;
}

.navbar h1{
    cursor: pointer;
}

.navlinks{
    display: flex;
    gap: 40px;
    align-items: center;
}

.navlinks li{
    list-style: none;
}

.navlinks a{
    text-decoration: none;
    color: black;
}

select{
    padding: 8px 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.show{
    background-color: rgb(238, 238, 238);
    padding: 8px 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.show li{
    color: cornflowerblue;
}

.hide{
    display: none;
}