.navbar {
    width: 100%;
    height: 100px;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid gainsboro;
    position: sticky;
    top: 0;
    background-color: white;
}

.navbar h1 {
    cursor: pointer;
}

.navlinks {
    display: flex;
    gap: 40px;
    align-items: center;
    transition: 0.45s all ease;
}

.navlinks li {
    list-style: none;
}

.navlinks a {
    text-decoration: none;
    color: black;
}

select {
    padding: 8px 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.show {
    background-color: rgb(238, 238, 238);
    padding: 8px 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.login-btn {
    color: white;
    background-color: #333;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Poppins";
}

.show li {
    color: cornflowerblue;
}

.hide {
    display: none;
}

.menu {
    display: none;
}
.navlinks span{
    display: none;
}

.navlinks.active{
    right: 0;
}

@media (max-width: 1480px) {
    .navbar {
        padding: 0 60px;
    }
}

@media (max-width: 1075px) {
    .navbar {
        padding: 0 60px;
    }
}

@media (max-width: 962px) {
    .navlinks {
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;
        background-color: #333;
        width: 350px;
        padding: 20px;
        height: 100vh;
        right: -400px;
    }

    .navlinks span{
        width: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
        padding: 0 5px;
    }

    .close-menu{
        font-size: 25px;
        color: white;
        cursor: pointer;
    }

    .navlinks a{
        color: white;
    }

    .menu {
        font-size: 28px;
        display: block;
        cursor: pointer;
    }
}

@media (max-width: 780px) {
    .navbar {
        padding: 0px 50px;
    }
}

@media (max-width: 510px) {
    .navbar {
        padding: 0px 25px;
    }
}