.blogpage{
    width: 100%;
    min-height: 80vh;
    padding: 50px 100px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.bloglist{
    width: 100%;
    min-height: 70vh;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.blog{
    width: 400px;
    height: max-content;
    padding: 20px;
    border: 2px solid gainsboro;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.image{
    width: 380px;
    height: 150px;
    display: flex;
    justify-content: center;
}

.image img{
    width: 360px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.searchblog{
    width: 45%;
    display: flex;
    justify-content: space-between;
}

.search{
    padding: 10px 30px;
    border-radius: 25px;
    width: 600px;
    border: 2px solid gainsboro;
}

.filter{
    padding: 10px 30px;
    border-radius: 25px;
    border: 2px solid gainsboro;
}

.blog .info h4 {
    font-weight: 600;
    white-space: nowrap;      
    overflow: hidden;          
    text-overflow: ellipsis;   
    max-width: 100%;           
  }

.blog-top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog-top .category{
    background-color: rgb(238, 238, 238);
    padding: 8px 10px;
    border-radius: 5px;
    color: cornflowerblue;
    font-size: 14px;
    font-weight: 500;
}

.author span{
    color: cornflowerblue;
    font-weight: 600;
}

.read-more-btn{
    width: 100%;
}

.read-more-btn button{
    background-color: #333;
    padding: 8px 10px;
    border-radius: 5px;
    color: white;
    border: none;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
}
