.blogpage{
    width: 100%;
    min-height: 80vh;
    padding: 50px 100px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.bloglist{
    width: 100%;
    min-height: 70vh;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.blog{
    width: 400px;
    height: max-content;
    padding: 20px;
    border: 2px solid gainsboro;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.image{
    width: 380px;
    height: 150px;
    display: flex;
    justify-content: center;
}

.image img{
    width: 360px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.searchblog{
    width: 45%;
    display: flex;
    justify-content: space-between;
}

.search{
    padding: 10px 30px;
    border-radius: 25px;
    width: 600px;
    border: 2px solid gainsboro;
    outline: none;
}

.filter{
    padding: 10px 30px;
    border-radius: 25px;
    border: 2px solid gainsboro;
}

.blog .info h4 {
    font-weight: 600;
    white-space: nowrap;      
    overflow: hidden;          
    text-overflow: ellipsis;   
    max-width: 100%;           
  }

.blog-top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog-top .category{
    background-color: rgb(238, 238, 238);
    padding: 8px 10px;
    border-radius: 5px;
    color: cornflowerblue;
    font-size: 14px;
    font-weight: 500;
}

.author span{
    color: cornflowerblue;
    font-weight: 600;
}

.read-more-btn{
    width: 100%;
}

.read-more-btn button{
    background-color: #333;
    padding: 8px 10px;
    border-radius: 5px;
    color: white;
    border: none;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
}

@media (max-width: 1480px){
    .blogpage{
        padding: 50px 60px;
    }
     .blog{
        width: 350px;
    }
    .image{
        width: 305px;
    }
    .image img{
        width: 305px;
    }
}

@media (max-width: 1250px){
     .blog{
        width: 450px;
    }
    .image{
        width: 405px;
    }
    .image img{
        width: 405px;
    }
}

@media (max-width: 1075px){
    .blogpage{
        padding: 50px 60px;
    }
    .searchblog{
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .search{
        width: 400px;
    }
    .filter{
        padding: 10px 20px;
    }
    .blog{
        width: 350px;
    }
    .image{
        width: 305px;
    }
    .image img{
        width: 305px;
    }
    .read-more-btn button{
        font-size: 14px;
    }
}

@media (max-width: 860px){
    .blog{
        width: 310px;
    }
    .image{
        width: 265px;
    }
    .image img{
        width: 265px;
    }
}

@media (max-width: 780px){
    .blogpage{
        padding: 50px 50px;
    }
}

@media (max-width: 780px){
    .blog{
        width: 400px;
    }
    .image{
        width: 360px;
    }
    .image img{
        width: 360px;
    }
}

@media (max-width: 595px){
    .search{
        width: 300px;
    }
    .filter{
        padding: 10px 15px;
    }
}

@media (max-width: 550px){
    .filter{
        display: none;
    }
}

@media (max-width: 510px){
    .blogpage{
        padding: 50px 25px;
    }
}

@media (max-width: 460px){
     .blog{
        width: 310px;
    }
    .image{
        width: 265px;
    }
    .image img{
        width: 265px;
    }
}

