.about-container {
    width: 100vw;
    min-height: calc(100vh - 102px);
    height: auto;
    padding: 50px 100px;
    background-color: white;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .about-content {
    max-width: 900px;
    text-align: center;
  }
  
  .about-content h1 {
    color: cornflowerblue;
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .about-content h2 {
    color: cornflowerblue;
    font-size: 2rem;
    margin-top: 30px;
  }
  
  .about-content p {
    color: #333;
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .about-content ul {
    list-style-type: disc;
    margin: 20px 0;
    padding-left: 40px;
  }
  
  .about-content ul li {
    font-size: 1.1rem;
    margin-bottom: 10px;
  }

  @media (max-width:1050px){
    .about-content h1{
      font-size: 34px;
    }
    .about-content p{
      font-size: 18px;
    }
  }

  @media (max-width:750px){
    .about-container{
      padding: 50px ;
    }
  }

  @media (max-width:510px){
    .about-container{
      padding: 50px 25px ;
    }
    .about-content h1{
      font-size: 28px;
    }
    .about-content h2{
      font-size: 27px;
      margin-bottom: 10px;
    }
    .about-content p{
      font-size: 16px;
    }
  }

  @media (max-width:400px){
    .about-content h1{
      font-size: 21px;
      margin-bottom: 10px
      ;
    }
    .about-content h2{
      font-size: 21px;
    }
    .about-content p{
      font-size: 14px;
    }
  }
  